*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/img/fondo.jpeg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
}
.header{
    background-color: rgb(2, 255, 2);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.logo img{
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav.nav{
    height: 100px;
}
.nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;  /* esto es para que todo quede en mayuscula */
    width: max-content; /* esto es para que cuando tiene dos palabras no se pase nada abajo se mantenga uno al lado del otro */
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu li a{
    color: #32362d;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #034574;
    color: #83c5f7;
    transition: .5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 768px){
    body{
        padding-top: 70px;
    }
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
    outline: none;
    }
  
}


/* ******************************************************************************** */


.wrap{
    max-width: 100%;
    margin: 100px auto;    
    
}
ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}
ul.tabs li{
    width: 100%;
}
ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;

    display: block;
    padding: 20px 0px;
}
.active{
    background: #0984cc;
}
ul.tabs li a .tab-tex{
    margin-left: 8px;
}
.secciones{
    width: 100%;
    height: auto;
}
.secciones article{
    padding: 30px;
}
.secciones article p{
    text-align: justify;
}
/* .estadistica_partidos iframe{

} */

.video_youtube iframe{
    padding: 30px;
}


/* ********************contenido******************************+ */
.imagenesInicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imagenesInicio img{
    width: 400px;
    height: 430px;
    padding: 20px;
}


@media screen and(max-width: 700px){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 450px) {
    ul.tabs li a{
        padding: 15px 0px;
    }
    ul.tabs li a .tab-tex{
        display: none;
        transition: 0.3s;
    }
    .secciones article{
        padding: 20px;
    }

}