*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(./img/fondo.jpeg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
}
.header{
    background-color: rgb(2, 255, 2);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.logo img{
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav.nav{
    height: 60px;
}
.nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;  /* esto es para que todo quede en mayuscula */
    width: max-content; /* esto es para que cuando tiene dos palabras no se pase nada abajo se mantenga uno al lado del otro */
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu li a{
    color: #32362d;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    /* background-color: #030c74; */
    color: #83c5f7;
    transition: .5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 870px){
    .logo img{
        width: 48px;
    }
    ul.tabs{
        margin-top: -39px;
    }
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #ad1;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
    outline: none;
    }
  
}


/* **************************** */


.wrap{
    max-width: 100%;
    margin: 100px auto;    
    
}
.titulo{
    text-align: center;
    margin: 10px auto;
    color: #ffff00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}
ul.tabs li{
    width: 100%;
}
ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: 0.1s;

    display: block;
    padding: 20px 0px;
}
.active{
    background: #0984cc;
}
ul.tabs li a .tab-tex{
    margin-left: 8px;
}
.secciones{
    width: 100%;
    height: auto;
}
.secciones article{
    padding: 30px;
}
.secciones article p{
    text-align: justify;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    
}
.estadistica iframe{
    width: 500px;
    height: 400px;
    border-radius: 15px;
    margin: 20px auto;
    display: flex;
}



/* *******contenido***********+ */

.videos_youtube{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.videos_youtube iframe{
    width: 400px;
    height: 250px;
    padding: 20px;
    border: 2px solid greenyellow;
    border-radius: 20px;
    background-color: #5858d5;
    opacity: .92;
    padding: 1px;
}

.imagenesFotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    opacity: .9;
}

.imagenesFotos img{
    height: 31vh;
    padding: 20px;
}

.imagenesFichas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    opacity: .9;
}

.imagenesFichas img{
    height: 48vh;
    padding: 5px;
}


@media screen and(max-width: 700px){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 450px) {
    ul.tabs li a{
        padding: 15px 0px;
    }
    ul.tabs li a .tab-tex{
        display: none;
        transition: 0.3s;
    }
    .secciones article{
        padding: 20px;
    }
}

hr{
    color: rgb(180, 212, 83);
    background-color: rgb(181, 189, 159);
    padding: 2px;
    margin: 20px auto;
}
.footer_contenedor{
    display: flex;
    justify-content: space-evenly;
}

.footer_logo img{
    width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}
.footer_columna1 a{
    text-decoration: none; 
    color: rgb(0, 0, 0);  
    font-size: 20px;
}
.footer_columna1 ul{
    list-style: none;
}
.footer_columna1 li{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(247, 247, 247);
    margin: 2px auto;
}
.footer_columna1 li:hover{
    background: #0984cc;
}
.footer-contacto{
    color: black;
    font-size: 20px;
}
.footer-contacto h3{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(247, 247, 247);
    margin: 2px auto;
}
.footer-contacto h3:hover{
    background: #0984cc;
}



h6{
    margin: 10px auto;
    text-align: center;
}
h6 a{
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: rgb(255, 135, 135);
}
h6 a:hover{
    color: #83c5f7;
}