<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a214269803.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="main.js"></script>
    <link rel="icon" href="/img/logo.jpeg">
    <link rel="stylesheet" href="css/style.css">
    <title>Gie FC Dubai</title>
</head>

<body>

    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link"><img src="/img/logo.jpeg" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir Menú"> <i class="fa-solid fa-bars"></i> </button>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="https://www.instagram.com/gie.fc.dubai/"
                        class="nav-menu-link nav-link" target="_blank"> <i class="fa-brands fa-instagram"></i>
                        instagram</a></li>
                <li class="nav-menu-item"><a href="https://www.youtube.com/watch?v=ucIabUGOziw"
                        class="nav-menu-link nav-link" target="_blank"> <i class="fa-brands fa-youtube"></i> YouTube</a>
                </li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link"><i
                            class="fa-solid fa-earth-asia"></i> Sobre Nosotros</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrap">

        <ul class="tabs">
            <li><a href="#tab1"><span><i class="fa-solid fa-house"></i> </span><span class="tab-tex"> inicio</span></a>
            </li>
            <li><a href="#tab2"><span><i class="fa-solid fa-camera-retro"></i> </span><span
                        class="tab-tex">Fotos</span></a></li>
            <li><a href="#tab3"><span><i class="fa-solid fa-calendar-days"></i> </span><span class="tab-tex">Agenda de
                        Partidos</span></a></li>
            <li><a href="#tab4"><span><i class="fa-solid fa-circle-play"></i> </span><span
                        class="tab-tex">Videos</span></a></li>
            <li><a href="#tab5"><span><i class="fa-solid fa-file-signature"></i> </span><span class="tab-tex">Fichas
                        Jugadores</span></a></li>
        </ul>

        <div class="secciones">

            <article id="tab1">
                <h1 class="titulo">Presentacion</h1>
                <p>
                    <b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non nemo iste necessitatibus eos
                        pariatur, ipsum unde nisi obcaecati architecto est accusantium asperiores debitis, harum velit
                        odit
                        ad fugiat accusamus. </b>
                </p>
                <div class='imagenInicio'><img src="/img/foto_grupo2.jpeg" alt="foto1" class="responsive"></div>

            </article>


            <article id="tab2">
                <h1 class="titulo">Fotos</h1>
                <div class="imagenesFotos">
                    <img src="/img/foto1.jpeg" alt="foto1">
                    <img src="/img/foto3.jpeg" alt="foto1">
                    <img src="/img/foto5.jpeg" alt="foto1">
                    <img src="/img/foto6.jpeg" alt="foto1">
                    <img src="/img/foto7.jpeg" alt="foto1">
                    <img src="/img/foto8.jpeg" alt="foto1">
                    <img src="/img/foto9.jpeg" alt="foto1">
                    <img src="/img/foto1.jpeg" alt="foto1">
                    <img src="/img/foto3.jpeg" alt="foto1">
                    <img src="/img/foto5.jpeg" alt="foto1">
                    <img src="/img/foto7.jpeg" alt="foto1">
                </div>
                <br>
                <br>
                <br>
                <h1 class="titulo">Entrenamiento</h1>
                <div class="imagenesFichas">


                    <video src="/img/entrenando1.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando2.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando3.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando4.mp4" controls="" height="500" width="300"></video>
                </div>
                <br>
                <br>
                <br>


            </article>

            <article id="tab3">
                <h1 class="titulo">Estadistica de Partidos</h1>
                <div class="estadistica">
                    <iframe src="https://footystats.org/api/club?id=706955" frameborder="0"></iframe>
                </div>
            </article>

            <article id="tab4">
                <h1 class="titulo">Videos</h1>
                <div class="videos_youtube">

                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>

                </div>
            </article>
            <article id="tab5">
                <h1 class="titulo">Ficha tecnica de jugadores</h1>
                <div class="imagenesFichas">
                    <img src="/img/f1.jpg" alt="f1">
                    <img src="/img/f2.jpg" alt="f1">
                    <img src="/img/f3.jpg" alt="f1">
                    <img src="/img/f4.jpg" alt="f1">
                    <img src="/img/f5.jpg" alt="f1">
                    <img src="/img/f6.jpg" alt="f1">
                    <img src="/img/f7.jpg" alt="f1">
                    <img src="/img/f8.jpg" alt="f1">
                    <img src="/img/f9.jpg" alt="f1">
                    <img src="/img/f10.jpg" alt="f1">
                    <img src="/img/f11.jpg" alt="f1">
                    <img src="/img/f12.jpg" alt="f1">
                    <img src="/img/f13.jpg" alt="f1">
                    <img src="/img/f14.jpg" alt="f1">
                    <img src="/img/f15.jpg" alt="f1">
                    <img src="/img/f16.jpg" alt="f1">
                    <img src="/img/f17.jpg" alt="f1">
                    <img src="/img/f18.jpg" alt="f1">
                    <img src="/img/f19.jpg" alt="f1">
                    <img src="/img/f20.jpg" alt="f1">
                    <img src="/img/f21.jpg" alt="f1">
                    <img src="/img/f22.jpg" alt="f1">
                    <img src="/img/f23.jpg" alt="f1">
                    <img src="/img/f24.jpg" alt="f1">
                    <img src="/img/f25.jpg" alt="f1">
                    <img src="/img/f26.jpg" alt="f1">
                    <img src="/img/f27.jpg" alt="f1">
                    <img src="/img/f28.jpg" alt="f1">
                    <img src="/img/f29.jpg" alt="f1">
                    <img src="/img/f30.jpg" alt="f1">
                    <img src="/img/f31.jpg" alt="f1">
                    <img src="/img/f32.jpg" alt="f1">
                    <img src="/img/f33.jpg" alt="f1">
                    <img src="/img/f34.jpg" alt="f1">
                    <img src="/img/f35.jpg" alt="f1">
                    <img src="/img/f36.jpg" alt="f1">
                    <img src="/img/f37.jpg" alt="f1">
                    <img src="/img/f38.jpg" alt="f1">
                    <img src="/img/f39.jpg" alt="f1">
                    <img src="/img/f40.jpg" alt="f1">
                    <img src="/img/f41.jpg" alt="f1">
                    <img src="/img/f42.jpg" alt="f1">
                    <img src="/img/f43.jpg" alt="f1">
                    <img src="/img/f44.jpg" alt="f1">
                    <img src="/img/f45.jpg" alt="f1">
                    <img src="/img/f46.jpg" alt="f1">


                </div>
        </div>

    </div>
    <hr>
    <footer>
        <div class="footer_contenedor">
            <div class="footer_logo">
                <a href="/" class="logo nav-link"><img src="/img/logo.jpeg" alt=""></a>
            </div>
            <div class="footer_columna1">
                <h3>Encontranos en:</h3>
                <br>
                <ul>
                    <a href="https://www.instagram.com/gie.fc.dubai/" target="_blank"><i
                            class="fa-brands fa-instagram"> Instagram</i></a>
                    <br><br>
                    <a href="#" target="_blank"> <i class="fa-brands fa-youtube"> YouTube</i></a>
                    <br><br>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"> Facebook</i></a>
                    <br><br>
                    <a href="#" target="_blank"><i class="fa-brands fa-twitter"> Twitter</i></a>
                </ul>
                <br><br><br>
            </div>
            
            <!-- <div class="footer-contacto">
                <h2>contacto</h2>
                <h3>Telefono</h3>
                <h3>email</h3>
                <h3>Dirección</h3>
                <h3>Directivos</h3>
            </div>
        </div> -->
            <!-- <h6> <a href="#">Sitio desarrollado por lmDesarrollos, email</a> </h6> -->
    </footer>
</body>

</html>