<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a214269803.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="main.js"></script>
    <link rel="icon" href="/img/logo.jpeg">
    <link rel="stylesheet" href="css/style.css">
    <title>Gie FC Dubai</title>
</head>

<body>

    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link"><img src="/img/logo.jpeg" alt=""></a>
            <button class="nav-toggle" aria-label="Abrir Menú"> <i class="fa-solid fa-bars"></i> </button>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="https://www.instagram.com/gie.fc.dubai/"
                        class="nav-menu-link nav-link" target="_blank"> <i class="fa-brands fa-instagram"></i>
                        instagram</a></li>
                <li class="nav-menu-item"><a href="https://www.youtube.com/watch?v=ucIabUGOziw"
                        class="nav-menu-link nav-link" target="_blank"> <i class="fa-brands fa-youtube"></i> YouTube</a>
                </li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link"><i
                            class="fa-solid fa-earth-asia"></i> About us</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrap">

        <ul class="tabs">
            <li><a href="#tab1"><span><i class="fa-solid fa-house"></i> </span><span class="tab-tex"> Welcome</span></a>
            </li>
            <li><a href="#tab2"><span><i class="fa-solid fa-camera-retro"></i> </span><span
                        class="tab-tex">Photos</span></a></li>
            <li><a href="#tab3"><span><i class="fa-solid fa-calendar-days"></i> </span><span
                        class="tab-tex">Schedule</span></a></li>
            <li><a href="#tab4"><span><i class="fa-solid fa-circle-play"></i> </span><span
                        class="tab-tex">Videos</span></a></li>
            <li><a href="#tab5"><span><i class="fa-solid fa-file-signature"></i> </span><span
                        class="tab-tex">Players</span></a></li>
        </ul>

        <div class="secciones">

            <article id="tab1">
                <h1 class="titulo">Who are we:</h1>
                <div class="who">

                    <b>
                        <h1>Who we are:</h1> <br> GIE FC team with Argentine roots in the United Arab Emirates, founded
                        on
                        08/16/2021 in the United Arab Emirates by the Founders Cristian Martín Echenique and MOHAMED
                        SEBIL GHAZI KHAMIS ALMADANI. <br><br>
                        Betting on the commercial and sports future that the league
                        will be in the next five years, being the pioneers in expanding the South American market
                        and mainly the Argentine market, we have the professional squad, and U21, in the coming
                        months we will form the professional women's football squad, expanding to futsal, beach
                        soccer, volleyball, handball, tennis, ball basketball, taekwondo and other sports entities,
                        we have our stadium, and developing the professional stadium in 4 years we will have our
                        professional facilities, sports campus and housing, in addition to already open 2 soccer
                        sports academies the first in Ajmam, the second in Mirdif and the third in Dubai, with more
                        than 1000 current students.
                    </b>

                </div>
                <br>
                <!-- <div class='imagenInicio'><img src="/img/foto_grupo2.jpeg" alt="foto1" class="responsive"></div> -->
                <div class="imagenesFotos">
                    <img src="/img/f01.jpeg">
                    <p>
                        <b> CRISTIAN Martín Echenique, a 35-year-old Argentinian, emigrated to the United Arab Emirates
                            2
                            years ago knowing that the local soccer market is very virgin and there is a very big
                            projection
                            for the future in soccer, he founded GIE FC in 2021 together with my partner local, betting
                            on
                            the growth and development of children's and professional football in the next 5 years,
                            opening
                            the international market of South American players, especially Argentines, and opening the
                            market of players from the African continent with talented players, the vision we seek is to
                            project the Argentine game in the United Arab Emirates, we are the first Argentine team with
                            Argentine roots and tactics in the UAE with Argentine players, Local Africans projecting for
                            the
                            next season to be champion and go up to 1 division and to be able to play in the future the
                            proleague with the evil high team soccer of the league, we have two teams in 2 division GIE
                            FC
                            and Solano City. </b>
                    </p>
                </div>
                <br>
                <div class="imagenesFotos">
                    <img src="/img/f02.jpeg">
                    <p>
                        <b> Mohamed Sebil Ghazi Khamis Almadani I am born in the United Arab Emirates, currently 31
                            years old, visionary and entrepreneur, professional football player: former Shabab Club
                            player (current Shabab Al Ahli) Champion with Quatro FC 2 division 2019, moving to Al
                            Ittifaq fc, currently player and founder of GIE FC, the vision we have is that in the coming
                            years we will be one of the 10 best teams in the UAE and open the market to players from
                            Latin America. </b>
                    </p>
                </div>
                <br>
                <div class="imagenesFotos">
                    <img src="/img/f03.jpeg">
                    <p>
                        <b> Captain Khalil Ibrahim Mohamed Alsaqay Professional Manager Team, Born in the United Arab
                            Emirates former Shabab Club player (current Shabab Al Ahli) former UAEFA official in 2
                            division, currently working at GIE FC as Manager team, my mission is to leave GIE FC in a
                            good position in the sports and academic framework in the United Arab Emirates, show
                            solidarity with players such as Argentines, Brazilians, Paraguay, Uruguay and all of Africa
                            and open markets to excellent players and people. </b>
                    </p>
                </div>
                <br>
                <div class="imagenesFotos">
                    <img src="/img/f04.jpeg">
                    <p>
                        <b> Ashwin Nelappana I am born in the United Arab Emirates of Indian family descendants, coach
                            the U21 national B license, former coach U13 Al Nasr club, trusting in the opportunity we
                            have at GIE FC to continue growing and be one of the best Coach in the league and being able
                            to lead the national team, I thank GIE FC for the great opportunity they gave me to take on
                            the position in the U21 squad. We aspire to be champions and the best. </b>
                    </p>
                </div>
                <br>

                
            </article>


            <article id="tab2">
                <h1 class="titulo">Photos</h1>
                <div class="imagenesFotos">
                    <img src="/img/foto1.jpeg" alt="foto1">

                    <img src="/img/foto5.jpeg" alt="foto1">
                    <img src="/img/foto6.jpeg" alt="foto1">
                    <img src="/img/foto7.jpeg" alt="foto1">
                    <img src="/img/foto8.jpeg" alt="foto1">
                    <img src="/img/foto9.jpeg" alt="foto1">
                    <img src="/img/foto1.jpeg" alt="foto1">

                    <img src="/img/foto5.jpeg" alt="foto1">
                    <img src="/img/foto7.jpeg" alt="foto1">
                </div>
                <br>
                <br>
                <br>
                <h1 class="titulo">Training</h1>
                <div class="imagenesFichas">


                    <video src="/img/entrenando1.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando2.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando3.mp4" controls="" height="500" width="300"></video>
                    <video src="/img/entrenando4.mp4" controls="" height="400" width="100%"></video>
                </div>
                <br>
                <br>
                <br>
                <h1 class="titulo">Contract</h1>
                <div class="imagenesFichas">
                    <video src="/img/cont01.mp4" controls="" height="300" width="400"></video>
                    <video src="/img/cont02.mp4" controls="" height="300" width="400"></video>

                </div>


            </article>

            <article id="tab3">
                <h1 class="titulo">Games Statistics</h1>
                <div class="estadistica">
                    <!-- <iframe src="https://footystats.org/api/club?id=706955" frameborder="0"></iframe> -->
                </div>
            </article>

            <article id="tab4">
                <h1 class="titulo">Videos</h1>
                <div class="videos_youtube">

                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                    <iframe src="https://www.youtube.com/embed/ucIabUGOziw" title="YouTube video player"
                        allow="fullscreen" frameborder="0"> </iframe>
                </div>
            </article>
            <article id="tab5">
                <h1 class="titulo">Players full profile</h1>
                <div class="imagenesFichas">
                    <img src="/img/f1.jpg" alt="f1">
                    <img src="/img/f2.jpg" alt="f1">
                    <img src="/img/f3.jpg" alt="f1">
                    <img src="/img/f4.jpg" alt="f1">
                    <img src="/img/f5.jpg" alt="f1">
                    <img src="/img/f6.jpg" alt="f1">
                    <img src="/img/f7.jpg" alt="f1">
                    <img src="/img/f8.jpg" alt="f1">
                    <img src="/img/f9.jpg" alt="f1">
                    <img src="/img/f10.jpg" alt="f1">
                    <img src="/img/f11.jpg" alt="f1">
                    <img src="/img/f12.jpg" alt="f1">
                    <img src="/img/f13.jpg" alt="f1">
                    <img src="/img/f14.jpg" alt="f1">
                    <img src="/img/f15.jpg" alt="f1">
                    <img src="/img/f16.jpg" alt="f1">
                    <img src="/img/f17.jpg" alt="f1">
                    <img src="/img/f18.jpg" alt="f1">
                    <img src="/img/f19.jpg" alt="f1">
                    <img src="/img/f20.jpg" alt="f1">
                    <img src="/img/f21.jpg" alt="f1">
                    <img src="/img/f22.jpg" alt="f1">
                    <img src="/img/f23.jpg" alt="f1">
                    <img src="/img/f24.jpg" alt="f1">
                    <img src="/img/f25.jpg" alt="f1">
                    <img src="/img/f26.jpg" alt="f1">
                    <img src="/img/f27.jpg" alt="f1">
                    <img src="/img/f28.jpg" alt="f1">
                    <img src="/img/f29.jpg" alt="f1">
                    <img src="/img/f30.jpg" alt="f1">
                    <img src="/img/f31.jpg" alt="f1">
                    <img src="/img/f32.jpg" alt="f1">
                    <img src="/img/f33.jpg" alt="f1">
                    <img src="/img/f34.jpg" alt="f1">
                    <img src="/img/f35.jpg" alt="f1">
                    <img src="/img/f36.jpg" alt="f1">
                    <img src="/img/f37.jpg" alt="f1">
                    <img src="/img/f38.jpg" alt="f1">
                    <img src="/img/f39.jpg" alt="f1">
                    <img src="/img/f40.jpg" alt="f1">
                    <img src="/img/f41.jpg" alt="f1">
                    <img src="/img/f42.jpg" alt="f1">
                    <img src="/img/f43.jpg" alt="f1">
                    <img src="/img/f44.jpg" alt="f1">
                    <img src="/img/f45.jpg" alt="f1">
                    <img src="/img/f46.jpg" alt="f1">


                </div>
        </div>

    </div>
    <hr>
    <footer>
        <div class="footer_contenedor">
            <div class="footer_logo">
                <a href="/" class="logo nav-link"><img src="/img/logo.jpeg" alt=""></a>
            </div>
            <div class="footer_columna1">
                <h3>Find us:</h3>
                <br>
                <ul>
                    <a href="https://www.instagram.com/gie.fc.dubai/" target="_blank"><i class="fa-brands fa-instagram">
                            Instagram</i></a>
                    <br><br>
                    <a href="#" target="_blank"> <i class="fa-brands fa-youtube"> YouTube</i></a>
                    <br><br>
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook"> Facebook</i></a>
                    <br><br>
                    <a href="#" target="_blank"><i class="fa-brands fa-twitter"> Twitter</i></a>
                </ul>
                <br><br><br>
            </div>

            <!-- <div class="footer-contacto">
                <h2>contacto</h2>
                <h3>Telefono</h3>
                <h3>email</h3>
                <h3>Dirección</h3>
                <h3>Directivos</h3>
            </div>
        </div> -->
            <!-- <h6> <a href="#">Sitio desarrollado por lmDesarrollos, email</a> </h6> -->
    </footer>
</body>

</html>